.box {
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(170, 216, 216);
    border-radius: 10px;
    padding: 5%;
    margin: 5%;
    box-shadow: 0px 10px 15px 0px rgb(14, 250, 250);
    width: calc(50% - 10%); /* Adjust the width as per your preference */
    /* display: inline-block; */
    box-sizing: border-box;
    float: left; /* Add this line to align cards horizontally */
    transition: transform 0.5s ease;

  }
  .box:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
    box-shadow: 5px 15px 15px 1px rgb(40, 54, 247);
  }
  img {
    width: 100%;
    height: auto;
  }
  
  .options-bar {
    font-weight: bold;
    background-color: #b1eaf1;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    box-shadow: 0px 10px 15px 0px rgb(66, 200, 253);
  }
  
  .options-bar a {
    letter-spacing: 2px; /* Adjust the value as per your preference */
    text-decoration: none;
    color: black;
  }
  
  .option {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  h1{
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  @media (max-width: 400px) {
    .options-bar {
      flex-wrap: wrap; /* Allow options to wrap to new lines */
    }
  
    .option {
      flex: 0 0 50%; /* Display two options per row */
      margin-bottom: 5px;
    }
  
    .box {
      width: 100%; /* Adjust the width to occupy full width on smaller screens */
      margin-left: 0;
      margin-right: 0;
      clear: both; /* Clear float on smaller screens */
      float: none; /* Remove float on smaller screens */
    }
  }
  